[Unit]
Description=GitHub Webhook Handler
After=network.target

[Service]
User=lina
WorkingDirectory=/home/lina/catty-reminders-app/deploy/configs
ExecStart=/home/lina/catty-reminders-app/.venv/bin/python3 /home/lina/catty-reminders-app/deploy/configs/webhook.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
